<div class="row">
  <div class="col-md-3">
    <div class="wrapper d-flex">
      <div class="sidebar">
        <a href="/project/viewinvite" class="btn btn-primary btn-round">
          <i class="material-icons">favorite</i> view invites
        </a>
        <div class="tim-typo" style="margin-left: 35px;padding-left: 0px; color:  #fff;">
          <h3>MY TEAMS</h3>
          <div class="createbtn">
            <!-- <button class="btn btn-round" data-toggle="modal" id="createTeambtn" data-target="#createTeamModal">
                      + CREATE TEAM
                  </button> -->
            <button class="btn btn-block" data-toggle="modal" data-target="#createTeamModal">
              <i class="material-icons">account_circle</i>
              + CREATE A TEAM
            </button>
          </div>
        </div>
        <small class="text-muted px-3">LEADER</small>
        <ul>
          <% managing.forEach(leader=>{%>
          <form id="project<%=leader._id%>" method='POST' action="http://localhost:3000/project/showproject">
            <input name='projectId' style='display:none' value='<%=leader._id%>'>
            <li id='<%=leader._id%>' onclick='details(this)'><a href="#"><%= leader.project_name  %></a></li>
          </form>
          <%})%>
        </ul>
        <small class="text-muted px-3">MEMBER</small>
        <ul>
          <% asmember.forEach(member=>{%>
          <form id="project<%=member._id%>" method='POST' action="/project/showproject">
            <input name='projectId' style='display:none' value='<%=member._id%>'>
            <li id='<%=member._id%>' onclick='details(this)'><a href="#"><%= member.project_name  %></a></li>
          </form>
          <%})%>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="container">
      <!-- //////////////////////////////////create team modal//////////////////////////////////////////////////////////// -->
      <div class="modal fade" id="createTeamModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-login" role="document">
          <div class="modal-content" style="z-index: 35;">
            <div class="card card-signup card-plain">
              <div class="modal-header">
                <div class="card-header card-header-primary text-center">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                  <h3>CREATE A TEAM</h3>
                </div>
              </div>
              <div class="modal-body">
                <form class="form" method="POST" action="/project/create">
                  <div class="card-body">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">face</i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Team Name" name="project_name">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">mail</i>
                          </span>
                        </div>
                        <!-- <input type="text" class="form-control" placeholder="Email..."> -->
                        <select class="form-control teammates" name="teammates" id="teammates" data-live-search='true' data-style="select-with-transition" multiple title="Select Teammates">
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer justify-content-center">
                    <input type='submit' class="btn btn-primary btn-link btn-wd btn-lg" value='CREATE!' />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
