<%- include('partials/header'); %>

<head>
  <style>
    .navbar {
      margin-bottom: 0px;
      margin-right: 0px;
      width: 100%;
      padding: 0px;
    }

    .nav-brand .nav-item {
      align-self: center;
      padding-top: 10px;
      padding-bottom: 0px;
    }
  </style>
</head>
<div style="margin-top: 30px;">
<%-include('partials/sidebar')%>
<!--ADD TASK MODAL-->
<% managing.forEach(leader=>{%>
<form id="chat<%=leader._id%>" method='POST' action="/chatrooms/<%=leader._id%>|<%=leader.project_name%>/<%=userid%>">
  <input name='projectId' style='display:none' value='<%=leader._id%>'>
  <button id='<%=leader._id%>' onclick='chat(this)'><%= leader.project_name  %></button>
</form>
<%})%>
<% asmember.forEach(member=>{%>
<form id="chat<%=member._id%>" method='POST' action="/chatrooms/<%=member._id%>|<%=member.project_name%>/<%=userid%>">
  <input name='projectId' style='display:none' value='<%=member._id%>'>
  <button id='<%=member._id%>' onclick='chat(this)'><%= member.project_name  %></button>
</form>
<%})%>
<!--END ADD TASK MODAL-->
</div>
<!--------------------->
<script>
  function chat(input) {
    document.getElementById("chat" + input.id).submit();
  }
</script>
</body>
<%- include('partials/footer'); %>
