<%- include('partials/header'); %>
<style>
  .navbar {
    margin-bottom: 0px;
    margin-right: 0px;
    width: 100%;
    padding: 0px;
  }

  .nav-brand .nav-item {
    align-self: center;
    padding-top: 10px;
    padding-bottom: 0px;
  }
</style>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-expand-lg bg-dark" role="navigation-demo">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-translate">
        <a class="navbar-brand" href="#0">Navbar with notification</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#pablo" class="nav-link">
              Discover
            </a>
          </li>
          <li class="nav-item">
            <a href="#pablo" class="nav-link">
              Wishlist
            </a>
          </li>
          <li class="nav-item">
            <a href="#pablo" class="btn btn-rose btn-raised btn-fab btn-round" data-toggle="dropdown">
              <i class="material-icons">email</i>
            </a>
          </li>
          <li class="dropdown nav-item">
            <a href="#pablo" class="profile-photo dropdown-toggle nav-link" data-toggle="dropdown">
              <div class="profile-photo-small">
                <%if (user.loginType=='local'){%>
                <img src="./assets/img/faces/avatar.jpg" alt="Circle Image" class="rounded-circle img-fluid">
                <%} else {%>
                <img src="<%=user.image%>" alt="Circle Image" class="rounded-circle img-fluid">
                <%}%>

              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <h6 class="dropdown-header">Dropdown header</h6>
              <a href="#pablo" class="dropdown-item">Me</a>
              <a href="#pablo" class="dropdown-item">Settings and other stuff</a>
              <a href="#pablo" class="dropdown-item">Sign out</a>
            </div>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-->
  </nav>
<%-include('partials/sidebar')%>
                <div class="tim-typo" style="padding-left: 50px; z-index: -1;">
                  <h2>My Pending Tasks</h2>
                </div>
                <div class="pendingTasks">
                  <%pending.forEach((pendingtask, i) => {%>
                  <!--////////////////////////////////////////DETAILS modal////////////////////////////////////////////////////////////// -->
                  <div class="modal fade" id="DetailsModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-login" role="document">
                      <div class="modal-content" style="z-index: 35;">
                        <div class="card card-signup card-plain">
                          <div class="modal-header" style="background-color:#7F90A0; opacity: 0.8; color: #D4DEED;">
                            <div class="card-header card-header-primary text-center" style="background-color:#7F90A0; opacity: 0.8; color: #D4DEED;">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                              <h3><%=pendingtask.task.task_name%></h3>
                              <h4><%=pendingtask.project_name%></h4>
                            </div>
                          </div>
                          <div class="modal-body">
                            <div class="tim-typo" style="background-color:#7F90A0; opacity: 0.8; color: #D4DEED;">
                              <h3>DESCRIPTION:</h3>
                              <p><%=pendingtask.task.task_description%></p>
                            </div>
                            <div class="tim-typo">
                              <h6>Start Time : <%=pendingtask.task.start_time%></h6>
                              <h6>End Time: <%=pendingtask.task.end_time%></h6>
                              <!-- <h4> <%=pendingtask.project_name%></h4> -->
                            </div>
                            <form id="task<%=pendingtask._id%>" method='POST' enctype="multipart/form-data" action='/project/submittask'>
                              <input name='projectId' style='display:none' value='<%=pendingtask._id%>'>
                              <input name='task_id' style='display:none' value='<%=pendingtask.task._id%>'>
                              <div class="form-group form-file-upload form-file-multiple">
                                <input type="file" id="files+<%= pendingtask.project_name %>+<%= pendingtask.task.task_name%>" name='uploadedImages' multiple="" class="inputFileHidden">
                                <div class="input-group">
                                  <input type="text" id="files" class="form-control inputFileVisible" placeholder="Upload neccessary files" multiple>
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-link btn-fab btn-info">
                                      <i class="material-icons">layers</i>
                                    </button>
                                  </span>
                                </div>
                              </div>
                              <div class="form-group label-floating">
                                <label class="form-control-label bmd-label-floating"> Review</label>
                                <textarea name='review' class="form-control" rows="5" id="review+<%= pendingtask.project_name %>+<%= pendingtask.task.task_name %>"></textarea>
                              </div>
                          </div>
                          <div class="modal-footer justify-content-center">
                            <button id='<%=pendingtask._id%>' onclick="task(this)" class="btn btn-primary btn-link btn-wd btn-lg">Task Finished!</button>
                          </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <!--  -->
                  </div>
                  <!-- /////////////////////////////////////////task card/////////////////////////////////////////////////////////// -->
                  <form id="checktask<%=pendingtask._id%>" method='POST' enctype="multipart/form-data" action='/project/submittask'>
                    <input name='projectId' style='display:none' value='<%=pendingtask._id%>'>
                    <input name='task_id' style='display:none' value='<%=pendingtask.task._id%>'>
                    <div class="card" id="<%= pendingtask.project_name %>+<%= pendingtask.task.task_name %>" style="background-color:#7F90A0; opacity: 0.8; color: #D4DEED; margin-right: 150px;">
                      <!-- <p class="card-title"><%=pendingtask.project_name%></p> -->
                      <div class="card-body">
                        <div class="row">
                          <div class="col-1">
                            <div class="checkbox" style="margin-top:30px">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input id="<%=pendingtask._id%>" onclick="checktask(this)" class="form-check-input" type="checkbox" value="">
                                  <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </div>
                          </div>
                  </form>
                  <div class="col-2">
                    <span style=" margin-top: 30px; padding-left: 10px; font-size: x-large;">Task: <%=pendingtask.task.task_name%></span>
                  </div>
                  <div class="col-3">
                    <div style="padding-left: 10px; margin-top: 15px; font-size: x-large;">
                      Team:<br>
                      <!-- <h3 style="margin-top: 0px;"><%=pendingtask.project_name%></h3> -->
                      <%=pendingtask.project_name%>
                    </div>
                  </div>
                  <div class="col-4">
                    Description:<p><%=pendingtask.task.task_description%></p>
                  </div>
                  <div class="col-2">
                    <button class="btn btn-block btn-round" data-toggle="modal" data-target="#DetailsModal">
                      <i class="material-icons">account_circle</i>
                      DETAILS
                    </button>
                  </div>
                </div>
              </div>
      </div>
    </div>
    <%});%>
    </div>
    </div>
    </div>
    </div>
    <script>
      function details(input) {
        document.getElementById("project" + input.id).submit();
      }

      function task(input) {
        document.getElementById("task" + input.id).submit();
      }

      function checktask(input) {
        document.getElementById("checktask" + input.id).submit();
      }

      function submittask(projectId, task_id, projectname, taskname) {
        console.log(document.getElementById("review+" + projectname + "+" + taskname).value)
        console.log(document.getElementById("files+" + projectname + "+" + taskname).value)
        console.log(projectId)
        console.log(task_id)
        $.ajax({
          url: "http://localhost:3000/project/submittask",
          type: 'POST',
          contentType: 'multipart/form-data',
          data: new FormData({
            projectId: projectId,
            task_id: task_id,
            review: document.getElementById("review+" + projectname + "+" + taskname).value,
            uploadedImages: document.getElementById("files+" + projectname + "+" + taskname).value
          }),
          function(data, status) {
            alert("Task has been successfully submitted");
            document.getElementById(pending.project_name + pending.task.task_name).remove();

          }
        });
      }
      $.ajax({
        url: "/project/users",
        method: "GET"
      }).done(function(data) {
        $('.teammates').selectpicker();
        data.users.forEach((item) => {
          $('#teammates').append('<option value="' + item._id + '">' + item.FirstName + " " + item.LastName + '(' + item.username + ')' + '</option>');
        });
      });
    </script>

    <%- include('partials/footer'); %>
