<%- include('partials/header'); %>

<head>
  <style>
    .navbar {
      margin-bottom: 0px;
      margin-right: 0px;
      width: 100%;
      padding: 0px;
    }

    .nav-brand .nav-item {
      align-self: center;
      padding-top: 10px;
      padding-bottom: 0px;
    }
  </style>
</head>
<%- include('partials/sidebar')%>
<div style="padding-top: 75px;">
<% invites.forEach((invitee)=>{%>
  <div class="card">
    <div class="card-body row">
      <div class="col-4">
        <%= invitee.project_name %>
  
  
      </div>
      <div class="col-4"></div>
      <form action="/project/checkinvite" method="POST" id="checkinv<%=invitee._id%>">
        <input name='projectId' style='display:none' value='<%=invitee._id%>'>
        <input name='opt' id="opt" style='display:none'>
  
        <div class="col-2">
          <button class="btn btn-primary btn-link" id="<%=invitee._id%>" onclick="checkinv(this)" value="accept">accept</button>
        </div>
        <div class="col-2">
          <button class="btn btn-primary btn-link" id="<%=invitee._id%>" onclick="checkinv(this)" value="reject">reject</button>
        </div>
      </form>
    </div>
  </div>
  <% }); %>
</div>

</div>
</div>
</div>
<script>
  function checkinv(input) {
    if (input.value === "accept") {
      document.getElementById("opt").value = "accept";
    } else {
      document.getElementById("opt").value = "reject";
    }
    document.getElementById("checkinv" + input.id).submit();
  }
</script>
<%- include('partials/footer'); %>
