<%- include('partials/header'); %>
<style>
  .navbar {
    margin-bottom: 0px;
    margin-right: 0px;
    width: 100%;
    padding: 0px;
  }

  .nav-brand .nav-item {
    align-self: center;
    padding-top: 10px;
    padding-bottom: 0px;
  }
</style>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-expand-lg bg-dark" role="navigation-demo">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-translate">
        <a class="navbar-brand" href="#0">Navbar with notification</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#pablo" class="nav-link">
              Discover
            </a>
          </li>
          <li class="nav-item">
            <a href="#pablo" class="nav-link">
              Wishlist
            </a>
          </li>
          <li class="nav-item">
            <a href="#pablo" class="btn btn-rose btn-raised btn-fab btn-round" data-toggle="dropdown">
              <i class="material-icons">email</i>
            </a>
          </li>
          <li class="dropdown nav-item">
            <a href="#pablo" class="profile-photo dropdown-toggle nav-link" data-toggle="dropdown">
              <div class="profile-photo-small">
                <%if (user.loginType=='local'){%>
                <img src="./assets/img/faces/avatar.jpg" alt="Circle Image" class="rounded-circle img-fluid">
                <%} else {%>
                <img src="<%=user.image%>" alt="Circle Image" class="rounded-circle img-fluid">
                <%}%>

              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <h6 class="dropdown-header">Dropdown header</h6>
              <a href="#pablo" class="dropdown-item">Me</a>
              <a href="#pablo" class="dropdown-item">Settings and other stuff</a>
              <a href="#pablo" class="dropdown-item">Sign out</a>
            </div>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-->
  </nav>
<%- include('partials/sidebar')%>
  <% invites.forEach((invitee)=>{%>
    <div class="card">
        <div class="card-body row">
            <div class="col-4">
                <%= invitee.project_name %>
                 
              
            </div>
            <div class="col-4"></div>
            <form action="/project/checkinvite" method="POST" id="checkinv<%=invitee._id%>">
              <input name='projectId' style='display:none' value='<%=invitee._id%>'>
              <input name='opt' id="opt" style='display:none'>
            
              <div class="col-2">
                <button class="btn btn-primary btn-link" id="<%=invitee._id%>" onclick="checkinv(this)" value="accept">accept</button>
                </div>
              <div class="col-2">
                <button class="btn btn-primary btn-link" id="<%=invitee._id%>" onclick="checkinv(this)" value="reject">reject</button>
              </div>
            </form>
        </div>
    </div>
  <% }); %>

</div>
</div>
</div>
<script>
  function checkinv(input){
    console.log("input: "+input.innerHTML);
    if(input.value==="accept"){
      document.getElementById("opt").value="accept";
    }
    else{
      document.getElementById("opt").value="reject";
    }
    console.log("opt"+document.getElementById("opt"));
   document.getElementById("checkinv"+input.id).submit();
  }
</script>

<script>
  function details(input) {
    document.getElementById("project" + input.id).submit();
  }
  </script>

<%- include('partials/footer'); %>
