<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Project Manager
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="/assets/css/material-kit.css?v=2.2.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/assets/demo/demo.css" rel="stylesheet" />
  <link href="/assets/demo/vertical-nav.css" rel="stylesheet" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <style>
    .nav-brand .nav-item {
      align-self: center;

      padding-bottom: 0px;
    }

    .navbar {
      margin-top: 0px !important;
      padding-top: 0px;
      margin-bottom: 0px !important;
      padding-bottom: 0px;
      right: 0;
      margin-right: 0px;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-expand-lg bg-dark fixed-top" style="" role="navigation-demo">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-translate">
        <a class="navbar-brand" href="http://localhost:3000/dashboard">Project Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/chat" target="_blank" class="nav-link">
              CHAT
            </a>
          </li>
          <li class="nav-item">
            <form id="projectuploads<%=project._id%>" method='POST' action="/project/viewuploads">
              <input name='projectId' style='display:none' value='<%=project._id%>'>
              <a href="#" class="nav-link" id='<%=project._id%>' onclick='upload(this)'>UPLOADS</a>
            </form>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link">
              LOGOUT
            </a>
          </li>
          <li class="nav-item">
            <a href="/profile_page" class="nav-link">
              PROFILE
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <%-include('partials/sidebar')%>
  <!--===============================================================ADD TASK MODAL===============================================================-->
  <div class="container">
    <div class="modal fade" id="createTaskModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-login" role="document">
        <div class="modal-content" style="z-index: 35;">
          <div class="card card-signup card-plain">
            <div class="modal-header">
              <div class="card-header card-header-primary text-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                <h3 style="color: whitesmoke;">ADD TASK</h3>
              </div>
            </div>
            <form method="POST" action="http://localhost:3000/project/createtask">
              <input style="display:none" name='projectId' value="<%=project._id%>">
              <div class="modal-body">
                <div class="card-body">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">add_task</i>
                        </span>
                      </div>
                      <input type="text" class="form-control" placeholder="Task Name" name="task_name">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">description</i>
                        </span>
                      </div>
                      <div class="form-group">
                        <textarea class="form-control" placeholder="Description" id="exampleFormControlTextarea1" name='task_description'></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">date_range</i>
                        </span>
                      </div>
                      <input type="text" class="form-control datetimepicker" name="end_time">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">face</i>
                        </span>
                      </div>
                      <!-- <input type="text" class="form-control" placeholder="Email..."> -->
                      <select class="form-control assignedTo" name="user_id" id="assignedTo" data-live-search='true' data-style="select-with-transition" title="Select Teammates">
                        <option value='<%=user._id%>'><%=user.FirstName%> <%=user.LastName%>(You)</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer justify-content-center">
                <input type='submit' class="btn btn-primary btn-link btn-wd btn-lg" value='CREATE!' />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--=============================================================END ADD TASK MODAL=================================================================-->
  <!-- ===============================================================uploads modal ==============================================================-->
  <div class="modal fade" id="uploadsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-login" role="document">
      <div class="modal-content" style="z-index: 35;">
        <div class="card card-signup card-plain">
          <div class="modal-header">
            <div class="card-header card-header-primary text-center">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
              <h3>UPLOAD</h3>
            </div>
          </div>
          <div class="modal-body">
            <form action="http://localhost:3000/project/uploadimages" enctype="multipart/form-data" method="POST">
              <input name='projectId' style='display:none' value='<%=project._id%>'>
              <div class="form-group form-file-upload form-file-multiple">
                <input type="file" id="" name='uploadedImages' multiple="" class="inputFileHidden">
                <div class="input-group">
                  <input type="text" id="files" class="form-control inputFileVisible" placeholder="Upload neccessary files" multiple>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-link btn-fab btn-info">
                      <i class="material-icons">layers</i>
                    </button>
                  </span>
                </div>
              </div>

          </div>
          <input type="submit" value="ADD!">
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- ===============================================================end uploads modal ==============================================================-->
  <!-- ===============================================================addmember modal ==============================================================-->
  <div class="modal fade" id="addMembersModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-login" role="document">
      <div class="modal-content" style="z-index: 35;">
        <div class="card card-signup card-plain">
          <div class="modal-header">
            <div class="card-header card-header-primary text-center">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
              <h3>ADD MEMBERS</h3>
            </div>
          </div>
          <div class="modal-body" style="padding-top: 35px;">
            <form action="http://localhost:3000/project/addmembers" method="POST">
              <input name='projectId' style='display:none' value='<%=project._id%>'>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-user-friends"></i>
                    </span>
                  </div>
                  <select class="form-control addteammates" name="teammates" id="addteammates" data-live-search='true' data-style="select-with-transition" multiple title="Add Members">
                  </select>
                  <input type="submit" value="ADD!" style="margin-left: 5px;">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===============================================================end addmember modal ==============================================================-->
  <!-- =============================================================== random tasks count modal ==============================================================-->
  <div class="modal fade" id="TasksRandomlyCountModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-login" role="document">
      <div class="modal-content" style="z-index: 35;">
        <div class="card card-signup card-plain">
          <div class="modal-header">
            <div class="card-header card-header-primary text-center">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
              <h3>ADD Random</h3>
            </div>
          </div>
          <div class="modal-body" style="padding-top: 35px;">
            <!-- <form action="" id="numOfTasks"> -->
              <input type="number" placeholder="Enter number of tasks" id="numTask">
              <button onclick="randomAssignCount()">next</button>
            <!-- </form> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===============================================================end random task count modal ==============================================================-->
  <!-- ===============================================================random task  modal ==============================================================-->
  <div class="modal fade" id="TasksRandomlyAssignModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-login" role="document">
      <div class="modal-content" style="z-index: 35;">
        <div class="card card-signup card-plain">
          <div class="modal-header">
            <div class="card-header card-header-primary text-center">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
              <h3 id="RTaskHeader"></h3>
            </div>
          </div>
          <div class="modal-body" style="padding-top: 35px;">
            <form action="" id="listOfTasks">
              <input style="display:none" id='projectIdR' value="<%=project._id%>">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">add_task</i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="Task Name" id="task_name_random" name="task_name_random">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">description</i>
                    </span>
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" placeholder="Description" id='task_description_random'></textarea>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">date_range</i>
                    </span>
                  </div>
                  <input type="text" class="form-control datetimepicker" id="end_time_random">
                </div>
              </div>

             
            </form>
            <button onclick="randomAssign()">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===============================================================end random task  modal ==============================================================-->
  <!-- ===============================================================tasks added success modal ==============================================================-->
  <div class="modal fade" id="TasksAddedSuccessModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-login" role="document">
      <div class="modal-content" style="z-index: 35;">
        <div class="card card-signup card-plain">
          <div class="modal-header">
            <div class="card-header card-header-primary text-center">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
              <h3>Success!</h3>
            </div>
          </div>
          <div class="modal-body" style="padding-top: 35px;">
            <div class="tim-typo">
              <p><span id="scount"></span> tasks have been successfully added</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===============================================================end tasks added success modal ==============================================================-->

  <%if(String(project.leader)===String(user._id)){%>
  <div class="row" style="z-index: -2; margin-bottom: 0px;">
    <div class="col-12 col-md-4"  style="align-items: center; justify-items: center; padding-top: 35px;">
      <button class="btn btn-secondary btn-round" data-toggle="modal" data-target="#addMembersModal" style="width:100%;">
        <i class="material-icons">add</i> ADD MEMBERS
      </button>
    </div>
    <div class="col-12 col-md-4" style="align-items: center; justify-items: center; padding-top: 35px;">
      <button class="btn btn-secondary btn-round" data-toggle="modal" data-target="#createTaskModal" style="width: 100%;">
        <i class="material-icons">add</i> ADD TASK
      </button>
    </div>
    <div class="col-12 col-md-4" style="align-items: center; justify-items: center; padding-top: 35px;">
      <button class="btn btn-secondary btn-round" data-toggle="modal" data-target="#TasksRandomlyCountModal" style="width:100%;">
        <i class="material-icons">add</i> ADD TASKS RANDOMLY
      </button>

    </div>
  </div>
  <%};%>

  <div class="row">
    <div class="col-md-12 ml-auto mr-auto">
      <div class="profile-tabs" style="margin-top: 10px;">
        <ul class="nav  justify-content-center" role="tablist">
          <li class=" btn btn-secondary btn-round" style="width: 33%; ">
            <a class=" col-12 col-md-4" style="width: 100%; color: black;" href="#" role="tab" data-toggle="modal" data-target="#uploadsModal">
              <i class="fa fa-upload"></i> upload
            </a>
          </li>
          <%if(String(user._id)===String(project.leader)){%>
          <li class=" btn btn-secondary btn-round" id="pt" style="width: 30%; margin-left: 5px; margin-right: 5px;">
            <a class=" col-12 col-md-4" href="#progresstracker" role="tab" data-toggle="tab" style="color: black;">
              <i class="fa fa-tasks"></i> progress tracker
            </a>
          </li>
          <%};%>
          <li class=" btn btn-secondary" style="width: 33%;">
            <a class=" col-12 col-md-4" href="#pendingtasks" role="tab" data-toggle="tab" style="color: black;">
              <i class="fa fa-clipboard"></i> pending tasks
            </a>
          </li>
        </ul>
      </div>
    </div>

    <head>
      <style>
        .profile-tabs .nav a:active {
          background-color: #7F90A0;
        }
      </style>
    </head>
  </div>

  <div class="tab-content tab-space">
    <div class="tab-pane active text-center gallery" id="pendingtasks">
      <h3>PENDING TASKS</h3>
      <% pendingtasks.forEach(task=>{
       if(String(user._id)===String(task.assigned_to)){%>
      <div class="card" id="<%= task.project_name %>+<%= task.task_name %>" style="background-color:white; opacity: 0.8; color: #D4DEED; margin-right: 150px;">
        <div class="card-body">
          <div class="row">
            <form id="checkprojtask<%=task._id%>" enctype="multipart/form-data" method='POST' action='/project/submittask'>
              <input name='projectId' style='display:none' value='<%=project._id%>'>
              <input name='task_id' style='display:none' value='<%=task._id%>'>
              <div class="col-1">
                <div class="checkbox">
                  <div class="form-check">
                    <label style='margin-bottom:10px' class="form-check-label">
                      <input id="<%=task._id%>" onclick="checkprojtask(this)" class="form-check-input" type="checkbox">
                      <span class="form-check-sign" style="margin-top: 3px;">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </div>
              </div>
            </form>
            <div class="col-3" style="padding-top: 18px;">
              <span style=" margin-top: 30px; padding-left: 10px; font-size: x-large; color:black">Task: <%=task.task_name%></span>
            </div>
            <div class="col-4">
            </div>
            <div class="col-2">
            </div>
            <div class="col-2">
              <button class="btn btn-block btn-round" data-toggle="modal" data-target="#DetailsModal">
                <i class="material-icons">account_circle</i>
                DETAILS
              </button>
            </div>
          </div>
        </div>
      </div>

      <!--////////////////////////////////////////DETAILS modal////////////////////////////////////////////////////////////// -->
      <div class="modal fade" id="DetailsModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-login" role="document">
          <div class="modal-content" style="z-index: 35;">
            <div class="card card-signup card-plain">
              <div class="modal-header" style="background-color:#7F90A0; opacity: 0.8; color: #D4DEED;">
                <div class="card-header card-header-primary text-center" style="background-color:#7F90A0; opacity: 0.8; color: #D4DEED;">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                  <h3><%=task.task_name%></h3>

                </div>
              </div>
              <div class="modal-body">
                <div class="tim-typo" style="background-color:#7F90A0; opacity: 0.8; color: #D4DEED;">
                  <h3>DESCRIPTION:</h3>
                  <p><%=task.task_description%></p>
                </div>
                <div class="tim-typo">
                  <h6>Start Time : <%=task.start_time%></h6>
                  <h6>End Time: <%=task.end_time%></h6>

                </div>
                <form id="projtask<%=task._id%>" method='POST' enctype="multipart/form-data" action='/project/submittask'>
                  <input name='projectId' style='display:none' value='<%=project._id%>'>
                  <input name='task_id' style='display:none' value='<%=task._id%>'>
                  <div class="form-group form-file-upload form-file-multiple">
                    <input type="file" name='uploadedImages' multiple="" class="inputFileHidden">
                    <div class="input-group">
                      <input type="text" id="files" class="form-control inputFileVisible" placeholder="Upload neccessary files" multiple>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-link btn-fab btn-info">
                          <i class="material-icons">layers</i>
                        </button>
                      </span>
                    </div>
                  </div>
                  <div class="form-group label-floating">
                    <label class="form-control-label bmd-label-floating"> Review</label>
                    <textarea name='review' class="form-control" rows="5"></textarea>
                  </div>
              </div>
              <div class="modal-footer justify-content-center">
                <button id='<%=task._id%>' onclick="projtask(this)" class="btn btn-primary btn-link btn-wd btn-lg">Task Finished!</button>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <%}});%>
    </div>
    <div class="tab-pane text-center gallery" id="progresstracker">
      <H3>PROGRESS</H3>
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">TASK</th>
            <th scope="col">ASSIGNED TO</th>
            <th scope="col">STATUS</th>
            <th scope="col">START DATE</th>
            <th scope="col">DUE DATE</th>
          </tr>
        </thead>
        <tbody>
          <% var count=0;
    var progresstable=[];
    progresstable=tasks;
    progresstable.sort((a,b)=>{
      if(a.end_time > b.end_time)
        return 1;
      else if( a.end_time === b.end_time)
        return 0;
      else
        return -1;
    })
    progresstable.forEach(task=>{
      if(String(user._id)!==String(task.assigned_to)){ %>

          <tr>
            <th scope="row"><%=count++%></th>
            <td><%=task.task_name%></td>
            <td><%=task.name_of_user%> </td>
            <td>
              <%if(task.isDone === 1){ %>
              completed on time
              <%} else if(task.isDone === 0){%>
              not completed
              <%} else {%>
              completed late
              <%}%>
        </td>
        <td><%=task.start_time.getUTCDate()%>/<%=task.start_time.getUTCMonth()+1%>/<%=task.start_time.getFullYear()%> <%=task.start_time.getHours()%>:<%=task.start_time.getMinutes()%>:<%=task.start_time.getSeconds()%></td>
            <td><%=task.end_time.getUTCDate()%>/<%=task.end_time.getUTCMonth()+1%>/<%=task.end_time.getFullYear()%> <%=task.end_time.getHours()%>:<%=task.end_time.getMinutes()%>:<%=task.end_time.getSeconds()%></td>
          </tr>
          <%}
    });%>
        </tbody>
      </table>
    </div>
  </div>

  </div>
  </div>
  </div>
</body>

<script>
  var fcount;
  var tasksObj=[];
  function randomAssignCount(){
    console.log("inside rac");
  fcount=document.getElementById("numTask").value;
  console.log(fcount);
  $('#TasksRandomlyCountModal').modal('hide');
  document.getElementById("RTaskHeader").innerHTML="Task 1 of "+fcount;
  $('#TasksRandomlyAssignModal').modal('show');
  }
  
  count=1;
  function randomAssign(){
    // console.log(document.getElementById("task_name_random").value);
    // console.log(document.getElementById("task_description_random").value);
    // console.log(document.getElementById("end_time_random").value);
    var obj={
      "task_name":document.getElementById("task_name_random").value,
      "task_description":document.getElementById("task_description_random").value,
      "end_time":document.getElementById("end_time_random").value
    }

    tasksObj.push(obj);
    count++;
    console.log(count);
    console.log(obj);
    if(count<=fcount){
      document.getElementById("RTaskHeader").innerHTML="Task" +count+" of "+fcount;
      document.getElementById("listOfTasks").reset();
    }
    else{
      console.log(tasksObj);
      var projId=document.getElementById("projectIdR").value;
      console.log(projId);
      $('#TasksRandomlyAssignModal').modal('hide');
      count=1;
      atask=tasksObj;
      tasksObj=[];
      document.getElementById("scount").innerHTML=fcount;
      $('#TasksAddedSuccessModal').modal('show');
      $.post('/project/randomassignment', {assigntasks:atask,projectId:projId});
      window.location.replace("http://localhost:3000/dashboard");
    }
    

  }
    
</script>



<script>
  var a = []
</script>
<%project.teammates.forEach(teammate=>{%>
<script>
  a.push(String('<%=teammate.user_id%>'));
</script>
<%})%>
<script>
  $.ajax({
    url: "http://localhost:3000/project/users",
    method: "GET"
  }).done(function(data) {
    var b = []
    var c = [];
    data.users.forEach(user => {
      if (!a.includes(String(user._id))) {
        b.push(user);
      } else {
        c.push(user)
      }
    });
    $('.addteammates').selectpicker();
    b.forEach((item) => {
      $('#addteammates').append('<option value="' + item._id + '">' + item.FirstName + " " + item.LastName + '(' + item.username + ')' + '</option>');
    });
    $('.assignedTo').selectpicker();
    c.forEach((item) => {
      $('#assignedTo').append('<option value="' + item._id + '">' + item.FirstName + " " + item.LastName + '(' + item.username + ')' + '</option>');
    });
  });

  function upload(input) {
    document.getElementById("projectuploads" + input.id).submit();
  }

  function projtask(input) {
    console.log('inside task');
    document.getElementById("projtask" + input.id).submit();
  }

  function checkprojtask(input) {
    console.log('inside checktask');
    document.getElementById("checkprojtask" + input.id).submit();
  }
</script>
<%- include('partials/footer'); %>
