<%- include('partials/header'); %>
<style>
  .navbar {
    margin-bottom: 0px;
    margin-right: 0px;
    width: 100%;
    padding: 0px;
  }

  .nav-brand .nav-item {
    align-self: center;
    padding-top: 10px;
    padding-bottom: 0px;
  }
</style>

<body>

  <nav class="navbar navbar-inverse navbar-expand-lg bg-dark" role="navigation-demo">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-translate">
        <a class="navbar-brand" href="#0">Navbar with notification</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#pablo" class="nav-link">
              CHAT
            </a>
          </li>
          <li class="nav-item">
            <a href="#pablo" class="nav-link">
              UPLOAD
            </a>
          </li>
          <li class="nav-item">
            <a href="#pablo" class="btn btn-rose btn-raised btn-fab btn-round" data-toggle="dropdown">
              <i class="material-icons">email</i>
            </a>
          </li>
          <li class="dropdown nav-item">
            <a href="#pablo" class="profile-photo dropdown-toggle nav-link" data-toggle="dropdown">
              <div class="profile-photo-small">
                <img src="/assets/img/faces/avatar.jpg" alt="Circle Image" class="rounded-circle img-fluid">
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <h6 class="dropdown-header">Dropdown header</h6>
              <a href="#pablo" class="dropdown-item">Me</a>
              <a href="#pablo" class="dropdown-item">Settings and other stuff</a>
              <a href="#pablo" class="dropdown-item">Sign out</a>
            </div>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-->
  </nav>
  <div class="row">
    <div class="col-md-3">
      <div class="wrapper d-flex">
        <div class="sidebar">
          <div class="tim-typo" style="margin-left: 35px;padding-left: 0px; color:  #fff;">
            <h3>MY TEAMS</h3>
            <div class="createbtn">
              <!-- <button class="btn btn-round" data-toggle="modal" id="createTeambtn" data-target="#createTeamModal">
                            + CREATE TEAM
                        </button> -->
              <button class="btn btn-block btn-round" data-toggle="modal" data-target="#createTeamModal">
                <i class="material-icons">account_circle</i>
                + CREATE A TEAM
              </button>
            </div>
          </div>
          <small class="text-muted px-3">LEADER</small>
          <ul>
            <% managing.forEach(leader=>{%>
            <form id="project<%=leader._id%>" method='POST' action="/project/showproject">
              <input name='projectId' style='display:none' value='<%=leader._id%>'>
              <li id='<%=leader._id%>' onclick='details(this)'><a href="#"><%= leader.project_name  %></a></li>
            </form>
            <%})%>
          </ul>
          <small class="text-muted px-3">MEMBER</small>
          <ul>
            <% asmember.forEach(member=>{%>
            <form id="project<%=member._id%>" method='POST' action="/project/showproject">
              <input name='projectId' style='display:none' value='<%=member._id%>'>
              <li id='<%=member._id%>' onclick='details(this)'><a href="#"><%= member.project_name  %></a></li>
            </form>
            <%})%>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <p>Other stuff</p>
      <div class="card" style="background-color:#7F90A0; opacity: 0.8; color: #D4DEED; margin-right: 150px;">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <div class="tim-typo" style="padding-left: 10px; margin-top: 0px;">
                <h3 style="margin-top: 0px;">ADD TASK</h3>
              </div>
            </div>
            <div class="col-6">
              <div class="tim-typo" style="padding-left: 0px; margin-top: 0px;">
                <h3 style="margin-top: 0px;"> <i class="material-icons">add</i></h3>
              </div>
            </div>
          
          </div>
         
        </div>
      </div>
      <!--------------------->
    </div>
    <script>
      function details(input) {
        document.getElementById("project" + input.id).submit();
      }
    </script>
</body>
<%- include('partials/footer'); %>
